@import 'imports.less';

.map.player-map {
  width: 896px; // 64*14
  height: 512px; // 64*8
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  &.selecting-target {
    .map-tile:hover {
      height: 57px;
      width: 57px;
      min-width: 57px;
      border: 2px solid red;
    }
  }
  .map-tile {
    position: relative;
    &.not-visible {
      background-color: rgba(0,0,0,0.1);
    }
  }
  .map-row {
    height: 61px;
    .map-tile {
      width: 61px;
      min-width: 61px;
      .character {
        height: 100%;
        width: 100%;
        background-size: cover;
        position: absolute;
        z-index: 2;
        &.barbarian {
          background-image: url(img/barbarian.png);
        }
        &.dwarf {
          background-image: url(img/dwarf.png);
        }
        &.wizard {
          background-image: url(img/wizard.png);
        }
        &.elf {
          background-image: url(img/elf.png);
        }
      }
    }
    .map-border {
      width: 3px;
      min-width: 3px;
      .right-door {
        background-size: cover;
        width: 16px;
        left: -6px;
      }
      .right-secret-door {
        background-size: cover;
        width: 30px;
        left: -13px;
      }
      .right-door.open-door {
        left: -55px;
        top: 0;
        z-index: 1;
        width: 64px;
        background-image: url(right-door-open.png);
      }
    }
  }
  .map-border-row {
    .map-border {
      height: 3px;
      width: 64px;
      min-width: 64px;
      .bottom-door {
        background-size: cover;
        height: 16px;
        top: -6px;
      }
      .bottom-secret-door {
        background-size: cover;
        height: 30px;
        top: -13px;
      }
      .bottom-door.open-door {
        top: -55px;
        transform: rotate(90deg);
        height: 64px;
        z-index: 1;
        background-image: url(right-door-open.png);
      }
    }
  }
}

.play-game-container {
  padding-top: 40px;
}

.parties {
  li:hover {
    background-color: #ddd;
    cursor: pointer;
  }
}
