@import 'imports.less';

.map.player-map {
  width: 896px; // 64*14
  height: 512px; // 64*8
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  .map-tile {
    &.not-visible {
      background-color: black;
    }
  }
  .map-row {
    height: 61px;
    .map-tile {
      width: 61px;
      min-width: 61px;
      .character {
        height: 100%;
        width: 100%;
        background-size: cover;
        &.barbarian {
          background-image: url(img/barbarian.png);
        }
      }
    }
    .map-border {
      width: 3px;
      min-width: 3px;
    }
  }
  .map-border-row {
    .map-border {
      height: 3px;
      width: 64px;
      min-width: 64px;
    }
  }
}

.play-game-container {
  padding-top: 40px;
}
