.map {
  width: 900px;
  height: 661px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  .map-border {
    position: relative;
    background-color: rgba(0,0,0,0.1);
    &.wall {
      background-color: rgba(0,0,0,0.9);
    }
    .right-door {
      position: absolute;
      left: -3px;
      background-image: url(right-door.png);
      width: 10px;
      height: 100%;
    }
    .bottom-door {
      position: absolute;
      top: -3px;
      background-image: url(bottom-door.png);
      height: 10px;
      width: 100%;
    }
    .right-secret-door {
      position: absolute;
      left: -6px;
      background-image: url(right-secret-door.png);
      width: 16px;
      height: 100%;
    }
    .bottom-secret-door {
      position: absolute;
      top: -7px;
      background-image: url(bottom-secret-door.png);
      height: 16px;
      width: 100%;
    }
  }
  .map-row {
    display: flex;
    flex-wrap: nowrap;
    height: 32px;
    .map-tile {
      width: 32px;
      min-width: 32px;
      background-size: cover;
      &.rubble {
        background-image: url(rubble.png);
      }
      &.goblin {
        background-image: url(goblin.png);
      }
      &.exit {
        background-image: url(exit.png);
      }
    }
    .map-border {
      width: 2px;
      min-width: 2px;
    }
  }
  .map-border-row {
    display: flex;
    flex-wrap: nowrap;
    .map-border {
      height: 2px;
      width: 34px;
      min-width: 34px;
    }
  }
}

.new-quest-container {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;

  .name-and-description {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(parchment-border.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(parchment-border.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(parchment-border.jpg) 30 round;

    .name-container {
      margin-bottom: 20px;
      input {
        width: 100%;
        font-size: 24px;
        font-family: 'Fondamento', serif;
        border: 0;
        border-bottom: 1px solid black;
      }
    }
    textarea {
      width: 100%;
      border: 0;
      font-family: 'Fondamento', serif;
      font-size: 18px;
    }
  }
}
